@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --verde1: #0B661A;
    --verde2: #00420C;
    --white: #fff;
    --black1: #222;
    --black2: #999;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
}

.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--verde1);
    border-left: 10px solid var(--verde1);
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active {
    width: 80px;
}

.navigation ul {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
    background: var(--white);
}

.navigation ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}

.navigation ul li:hover a,
.navigation ul li.hovered a {
    color: var(--verde1);
}

.navigation ul li a img {
    position: relative;
    display: flex;
    min-width: 60px;
    height: 60px;
    margin-top: 5px;
    line-height: 70px;
    text-align: center;
    border-radius: 10px;
    background: var(--white);
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon ion-icon {
    font-size: 1.75em;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
    content: '';
    position: absolute;
    right: 0px;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0px 10px var(--white);
    pointer-events: none;
}

.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
    content: '';
    position: absolute;
    right: 0px;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0px 10px var(--white);
    pointer-events: none;
}

.infor h1 {
    padding: 10px;
    text-align: center;
    color: var(--verde1);
}

.infor p {
    width: 500px;
    position: relative;
    left: 50%;
    top: 50%;
    padding: 20px;
    text-align: justify;
    text-indent: 40px;
    margin-top: 20px;
    transform: translate(-50%, -50%);
}

.infor img{
    padding: 20px;
    position: relative;
    display: flex;
    margin-left: 250px;
}

.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100hv;
    background: var(--white);
    transition: 0.5s;
}

.main.active {
    width: calc(100% - 80px);
    left: 80px;
}

.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}

.search {
    position: relative;
    width: 400px;
    margin: 0px 10px;
}

.search label {
    position: relative;
    width: 100%;
}

.search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid var(--black2);
}

.search label ion-icon {
    position: absolute;
    top: 0px;
    left: 10px;
    font-size: 1.2em;
}

/*.user {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.user img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}*/

.action {
    position: fixed;
    top: 20px;
    right: 30px;
}

.action .user {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.action .user img {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.action .box-usuario {
    position: absolute;
    top: 80px;
    right: -10px;
    padding: 10px 20px;
    background: var(--verde1);
    width: 200px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
}

.action .box-usuario.active{
    visibility: visible;
    opacity: 1;
}

.action .box-usuario::before {
    content: '';
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    background: var(--verde1);
    transform: rotate(45deg);
}

.action .box-usuario h3 {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
    font-weight: 500;
    color: var(--white);
    line-height: 1.2em;
}

.action .box-usuario span {
    font-size: 14px;
    color: var(--white);
    font-weight: 400px;
}

.action .box-usuario ul li {
    list-style: none;
    padding: 10px 0px;
    border-top: 1px solid rgba(0,0,0,0.05);
    display: flex;
    direction: flex;
}

.action .box-usuario ul li span .icon ion-icon {
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;
}

.action .box-usuario ul li span:hover .icon {
    opacity: 1;
}

.action .box-usuario ul li a {
    display: inline-block;
    text-decoration: none;
    color: var(--white);
    font-weight: 500px;
    transition: 0.5s;
}

.action .box-usuario ul li:hover a {
    color: var(--verde1);
}

.Box {
    min-height: calc(100vh - 40px * 2);
    display: grid;
    grid-template-columns: 50% 50%;
    border-radius: 10px;
    overflow: hidden;
}

.login-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 150px;
    background-color: var(--white);
}

.login-right {
    background-color: var(--white);
    display: flex;
    justify-content: center;
}

.login-header {
    width: 50px;
    margin-bottom: 50px;
}

.login-header h1{
    font-size: 40px;
    margin-bottom: 10px;
}

.login-header p {
    opacity: 7;
}

.login-form {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.form-item label:not(.checkboxLabel) {
    display: inline-block;
    background-color: var(--white);
    margin-bottom: 10px;
    position: absolute;
    padding: 0 10px;
    transform: translate(30px -10px);
    font-size: 14px;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 7px;
}

input[type='checkbox'] {
    width: 20px;
    height: 20px;
    accent-color: var(--black2);
}

button {
    border: none;
    background: var(--verde1);
    color: var(--white);
    padding: 1rem;
    border-radius: 100px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    height: 55px;
    cursor: pointer;
}

input[type='text'],
input[type='password'] {
    border: 1px solid var(--black1);
    height: 55px;
    padding: 0 2rem;
    width: 100%;
    outline: none;
    transition: bacground .5s;
    font-size: 18px;
    border-radius: 100px;
}


/* tornando a tela responsiva*/

@media (max-width: 991px) {

    .graphBox {
        grid-template-columns: 1fr;
        height: auto;
    }
    .navigation {
        left: -300px;
    }

    .navigation.active {
        width: 300px;
        left: 0px;
    }
    
    .main {
        width: 100%;
        left: 0px;
    }
    
    main.active {
        left: 0px;
    }

    .cardBox {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 768px) {
    .details {
        grid-template-columns: repeat(1,1fr);
    }

    .recentOrders {
        overflow-x: auto;
    }

    .status.inprogress {
        white-space: nowrap;
    }
}

@media (max-width: 480px) {
    .cardBox {
        grid-template-columns: repeat(1,1fr);
    }

    .cardHeader {
        font-size: 20px;
    }

    .user {
        min-width: none;
    }

    .navigation {
        width: 100%;
        left: -100%;
        z-index: 1000;
    }

    .navigation.active {
        width: 100%;
        left: 0px;
    }

    .toggle {
        z-index: 10001;
    }

    .main.active .toggle {
        position: fixed;
        right: 0px;
        left: initial;
        color: var(--white);
    }
}
